---
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/ProfileCard.astro";
---

<Layout title="Borworntat D.">
  <main
    class="h-screen w-full bg-gradient-to-br dark:from-blue-900 dark:to-green-950 from-blue-300 to-green-300">
    <div class="flex justify-center items-center h-screen w-full">
      <ProfileCard />
    </div>
  </main>
</Layout>
