---
import { IconLink } from "../components/IconLink";
---

<div
  class="bg-gray-100 dark:bg-slate-800 rounded-3xl shadow-xl h-2/3 w-3/4 sm:w-1/4">
  <div class="flex justify-center h-full w-full items-center flex-col">
    <img src="/my-pic.jpg" class="rounded-full h-1/3 p-1.5 dark:bg-blue-900" />
    <div class="mt-7 text-center dark:text-gray-100 text-gray-700">
      <h1 class="font-bold text-2xl hidden sm:flex">
        Borworntat Dendumrongkul
      </h1>
      <h1 class="font-bold text-2xl sm:hidden">Borworntat D.</h1>
      <h2 class="font-semibold text-xl">"Icy"</h2>

      <div class="mt-5">
        <p class="text-xl">Student @ Rayongwittayakom</p>
        <p class="text-lg dark:text-gray-300 text-gray-600">Class of 2023</p>
      </div>
    </div>
    <div class="w-full text-xl mt-10 flex justify-center gap-5">
      <IconLink />
    </div>
  </div>
</div>
