---
import Layout from "@/layouts/GardenLayout.astro";

import { getMdxFiles } from "@/utils/getMdxFiles";

const posts = getMdxFiles("./src/pages/garden/posts");
---

<Layout>
  <main
    class="flex flex-col my-5 md:mx-auto md:my-10 justify-center sm:w-full sm:max-w-screen-sm w-screen">
    <section class="w-full mx-3">
      <h1 class="text-xl md:text-3xl font-bold">Borworntat Dendumrongkul</h1>
      <h2 class="text-md md:text-xl">บวรทัต เด่นดำรงกุล</h2>
      <div class="bg-slate-600 h-[1.5px] my-6 max-w-full mx-3"></div>
      <section>
        <h2 class="text-xl font-medium mb-3">Posts</h2>
        <div class="flex flex-col px-3 gap-y-2">
          {
            posts.map((post) => (
              <div>
                <a
                  class="hover:text-[#0000EE] hover:underline text-black text-lg"
                  href={`/garden/posts/${post.fileName.replace(".mdx", "")}`}>
                  {post.frontmatter.title} ({post.frontmatter.date})
                </a>
                <p class="italic text-gray-600">
                  tags:{" "}
                  {post.frontmatter.tags.map((tag: string, index: number) => (
                    <span>
                      {tag}
                      {index !== post.frontmatter.tags.length - 1 ? ", " : ""}
                    </span>
                  ))}
                </p>
                <p class="text-md">&emsp;{post.frontmatter.description}</p>
              </div>
            ))
          }
        </div>
      </section>
    </section>
  </main>
</Layout>
