---
import Layout from "@/layouts/GardenLayout.astro";
---

<Layout>
  <h1
    class="font-bold text-center flex justify-center items-center min-h-screen text-3xl">
    I'm Too Lazy to write this. (XD)
  </h1>
</Layout>
