---
import Layout from "@/layouts/GardenLayout.astro";
---

<Layout>
  <main
    class="flex flex-col my-5 md:mx-auto md:my-10 justify-center sm:w-full sm:max-w-screen-sm w-screen">
    <section class="w-full mx-3">
      <h1 class="text-xl md:text-3xl font-bold">Borworntat Dendumrongkul</h1>
      <h2 class="text-md md:text-xl">บวรทัต เด่นดำรงกุล</h2>
      <p class="text-md md:text-xl my-2 text-center">"Fullstack Developer"</p>
      <div class="text-lg">
        <a
          class="text-[#0000EE] underline"
          href="https://codeforces.com/profile/IceBorworntat">Codeforces</a
        >
        |
        <a class="text-[#0000EE] underline" href="https://github.com/MasterIceZ"
          >Github</a
        >
        |
        <a
          class="text-[#0000EE] underline"
          href="https://www.linkedin.com/in/borworntat-dendumrongkul-9b45a9202/"
          >LinkedIn</a
        >
        |
        <a class="text-[#0000EE] underline" href="/garden/posts"
          >Garden's Posts</a
        >
      </div>
      <div class="bg-slate-600 h-[1.5px] mt-2 max-w-full mx-3"></div>
      <section class="mt-4">
        <h2 class="text-xl font-medium">About Me</h2>
        <p class="ml-5 mr-5">
          I am a computer engineering student at Chulalongkorn University. I am
          currently working on web development and neural network. I am also
          interested in computer graphics.
        </p>
      </section>
      <section class="mt-4">
        <h2 class="text-xl font-medium">Interests</h2>
        <ul class="ml-5 list-disc">
          <li>Web Development</li>
          <li>Computer Graphics</li>
          <li>Neural Network</li>
        </ul>
      </section>
      <section class="mt-4">
        <h2 class="text-xl font-medium">My Stuff</h2>
        <ul class="ml-5 list-disc">
          <li>
            <a class="text-[#0000EE] underline" href="https://programming.in.th"
              >Programming.in.th</a
            > - A website for competitive programming in Thailand.
          </li>
          <li>
            <a
              class="text-[#0000EE] underline"
              href="https://thailandoi-org.vercel.app/"
              >IOI Thailand Task Team</a
            > - A team under IPST that orgainze selection camp's tasks for Thailand
            IOI team.
          </li>
          <li>
            <a class="text-[#0000EE] underline" href="https://crackncode.org"
              >Crack 'n' Code Thailand</a
            > - A orgainization that orgainze competitive programming contest in
            Thailand.
          </li>
        </ul>
      </section>
    </section>
  </main>
</Layout>
