---
import "@fontsource/ibm-plex-sans-thai";
import "@fontsource/fira-sans";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Garden | {frontmatter.title}</title>
  </head>
  <body>
    <div
      class="flex flex-col justify-center min-h-screen py-[4rem] md:py-[6rem] w-full">
      <h1 class="font-bold text-4xl pb-6 text-center">{frontmatter.title}</h1>
      <h2 class="italic text-center text-gray-500">{frontmatter.date}</h2>
      <article
        class="prose prose-h2:text-3xl prose-h2:font-semibold prose-h2:my-2 prose-p:text-lg prose-p:my-2 px-[1rem] xs:px-[10rem] mx-auto">
        <slot />
      </article>
    </div>
  </body>
</html>

<style is:global>
  body {
    font-family: "Fira Sans", sans-serif;
  }
  :lang(th) {
    font-family: "IBM Plex Sans Thai", sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .prose {
    max-width: 80%;
  }
</style>
